{% extends 'members/base.html' %} {% block content %}
<h2>Aktiviteter i Coding Pirates</h2>
    <p>
        Her kan du tilmelde dit barn en aktivitet. Det kan enten være en åben aktivitet der ikke kræver invitation,
        eller hvis I har modtaget en invitation vil den kunne ses her. De aktiviteter som I allerede er tilmeldt vil
        også fremgå på denne side.
    <p>
  Hvis du vil skrive dig op til en afdeling og få sendt invitationer ved nye
  events kan du gøre det på afdelingssiden.
  <a class="button" href="{% url "department_signup" %}">
    Gå til Afdelings opskrivninger
  </a>
</p>

    {% include "members/activities_participation.html" %}
    {% include "members/activities_invitations.html" %}
    {% include "members/activities_open.html" %}


{% endblock %}
