{% extends 'members/base.html' %}
{% load static %}
{% block content %}

    <h2>{{ department.name }}</h2>
    <p>
        Her kan du se informationer om {{ department.name }}.</p>
    <p>{{ department.description }}
    </p>

    <ul>
        <li>
            <strong>Kontaktperson:</strong> {{ department.responsible_name }}, email: <a
                href="mailto:{{ department.department_email }}">{{ department.department_email }}</a>
        </li>
        <li><strong>Adresse:</strong> {{ department.address }}</li>
        <li>
            <strong>Tidspunkt: </strong>
            {{ department.open_hours }}
        </li>
        <li><strong>Hjemmeside:</strong>
            {% if department.website != '' %}
                <a href={{ department.website }} target="_blank">{{ department.name }}</a>
            {% else %}
                {{ department.name }}
            {% endif %}
        </li>
    </ul>

{% endblock %}
